<div id="<%= dom_id artwork %>">
  <p>
    <strong>Title:</strong>
    <%= artwork.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artwork.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= artwork.user_id %>
  </p>

</div>
