<div id="<%= dom_id user %>">

  <p>
    <strong>Avatar:</strong>
    <%= image_tag user.avatar, width: 150 %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= user.nickname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address %>
  </p>

</div>
