#artworks .col-md-6 {
  box-sizing: border-box;
  width: 28%; /* Two artworks per row, adjust as needed */
  padding: 10px;
  border: 1px solid #000;
  height: 450px;
  margin: 10px;
}
#artworks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
}
#artworks p {
  margin: 0;
}
#card_image {
  width: auto;
  border: 1px solid black;
  opacity: 0.8;
  margin: 20px;
  background-color: #f0f0f0;
}
