.card {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #000;
  height: 510px;
  margin: 10px;
}

.artwork-item {
  flex: 1;
  padding: 20px;
}

#artworks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artworks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centered_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* artwork is position relative in _artwork.html */

#item_price{
  position: absolute;
  bottom: -10;
  right: 0;
  margin-top: 20px;
  padding: 10px;
}
