.navbar-lewagon {
  justify-content: space-between;
  background: #fffcf9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-item{
  padding-left: 20px;
}
