.navbar-lewagon {
  justify-content: space-between;
  background: #f5f5f5;
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  background-color: #f5f5f5;
}

.nav-item{
  padding-left: 20px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

body {
  margin-top: 56px; /* Adjust the margin-top based on your navbar height */
}
